.content {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.about {
  float: right;
  margin-top: 2em;
  margin-right: 4em;
}
.inn {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.inner {
  width: 20em;
  height: 10em;
  padding-left: 1em;
  border-left: 2px grey solid;
}

.title {
  margin: 0;
}

.clas {
  margin: 0;
}

.nav {
  margin-top: 1em;
}

.topBut {
  margin-right: 2em;
}

.bot {
  display: block;
  width: 35%;
  padding-top: .75em;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.bot:active {
  color: purple;
}

.email {
  display: block;
  margin-top: 1em;
  margin-left: 1em;
  padding: .5em;
  font-size: .8em;
  background-color: lighten(grey, 45%);
}
