.content {
  overflow: hidden;
  position: relative;
}

.introPic {
  border: black solid 3px;
  border-radius: 10px;
  width: 25em;
  display: inline-block;
}

.inner {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.hookContainer {
  vertical-align: top;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  position: relative;
  height: 25em;
  margin-left: 1em;
}

.hook {
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 4em;
  vertical-align: top;
}

.info {
  margin: 0;
  width: 20em;
  font-size: 2.25em;
  color: lighten(black, 30%);
  position: absolute;
  bottom: 0;
}
