.content {
  width: 25em;
  height: 15em;
  background-color: lighten(grey, 45%);
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}

.generic {
  width: 25em;
  height: 15em;
  background-color: white;
  display: inline-block;
  margin-left: 1em;
  vertical-align: top;
}
